
h6{
    font-weight: bolder;
    font-size: 25px;
    font-family:  'Italianno', cursive;
}
#clock{
    margin-top: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 10px solid rgb(117, 108, 108);
    background-color: rgb(235, 238, 241);
    display: inline-flex;
    flex-direction: row;
}

#timer{

    border: 10px solid rgb(117, 108, 108);
    background-color: rgb(10, 10, 10);
    color: white;
    text-align: center;
    
    
}
#session-time{
    color: red;
    text-align: right;
}
.btns{
    align-items: center;
    background-color: black;
    border-color: rgb(8, 8, 8);
    &:active{
        outline: none;
    }
    &:focus{
        outline: none;
    }
}
.btns-timer{
    background-color: black;
    box-shadow: 20px;
    &:active{
        outline: none;
    }
    &:focus{
        outline: none;
    }
}
.up-icon{
    color: rgb(240, 243, 240);
}
.down-icon{
    color: rgb(243, 238, 238);
}
.timer-icon{
    color: rgb(243, 245, 248);
}

.Welcome_text{

    font-family: 'Italianno', cursive;
  text-align: center;
  }
  .Welcome_text2{
  
    font-family: 'Italianno', cursive;
  text-shadow:3px 3px 3px black;
  color: white;
  text-align: center;
  padding: 40px;
  padding-top: 40px;
  font-kerning: normal;
  text-shadow: white;
  font-size: ;
  
  }
  *{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
  }
  body{
  diplay:felx;
  justify-content:center;
  align-tiems:center;
  min-height:100vh;
  background:#3c3f40;
  font-family: 'Italianno', cursive;
  font-size: 48px;
  }
  *{
      margin:0;
      padding:0;
      box-sizing:border-box;
  }
  body {
          font-family: 'Tangerine', serif;
          font-size: 40px;
        }
  a{
      text-decoration:none;
      color:#fff;
      text-align:right;
  }
  strong {
      font-weight: bold;
  }
  header{
      background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)),url("../images/backRounda.jpg");
      height:600px;
      background-size:cover;
      text-align: right-side;
  
  }
      h1{
          text-align:center;
          color:#fff;
          background-color:rgb(12 11 11);
      }
  
  
  .logo{
  
  
      background-image: url(../images/logo.jpg);
      width: 241px;
      height: 241px;
      background-size: cover;
      padding-top: 0%;
      border-style:double;
      border-width: 35px;
      border-color: black;
  }
  
  
  .nav-menu{
      list-style:none;
      background-repeat:no-repeat;
      color:#fff;
      background-size:1000px 10000px;
  
  }
  
  
  .nav-menu li{
      display: inline-block;
      text-transform:cursive;
  font-family: 'Italianno', cursive;
  
  }
  nav {
      display: flex;
      justify-content: space-between;
      padding:30px 40px;
  }
  .nav-menu li a {
      text-decoration:none;
      color:#fff;
      padding-left: 5px;
      padding-right:5px;
  }
  .nav-menu li a:hover{
      color:red;
      transition: all 0.5s ease-in-out;
      text-transform:uppercase;
      text-decoration:bold;
      font: bold 1.5em 'Italianno', cursive;
      font-family: 'Italianno', cursive;
  }
  .header-title-1 a {
      text-decoration:none;
      color:rgb(255,255,30);
      font-size:35px;
      opacity: 72%;
      font-family: 'Tangerine', serif;
      font-size: 48px;
  }
  
  .header-cta-button{
  color:white;
  margin-bottom: 2%;
  background-color:rgb(67,65,59);
  margin-left:50%;
  font-size:35px;
  text-align: center;
  border-radius: 5%;
  
  }
  #text{
    margin-top: 5%;
  }
  a:hover{
    font-display: swap;
    text-decoration-color: red;
    color: red;
  
  }
      .header-cta-button:hover{
  
          background-color:white;
      background-image: url(../images/logo.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size:cover;
      text-decoration-color: red;
      color: red;
  
      }
  .Thrbuttons{
  
  
      padding: 10%;
    animation:change 29s infinite ease-in-out;
    /*-webkit-filter: grayscale(100%);*/ /* Safari 6.0 - 9.0 */
    border-style: solid;
    border-width: 20px;
      }
    @keyframes change {
  
        0%{
            background-image: url(../images/1.jpg);
        }
  
        30%{
            background-image: url(../images/3.jpg);
        }
        40%{
            background-image: url(../images/2.jpg);
        }
        50%{
            background-image:url(../images/4.jpg);
        }
        60%{
            background-image:url(../images/1.jpg);
        }
        80%{
            background-image:url(../images/3.jpg);
        }
        90%{
            background-image:url(../images/4.jpg);
        }
        100%{
            background-image:url(../images/2.jpg);
        }
    }
  .buttonz{
      text-align: center;
  margin-left: 5px;
  position: relative;
  padding: 3%;
  box-shadow: 50%;
  font-size: 50px;
  
  }
  .Threebuttons{
    margin-left: 290px;
  }
  .quoteBox{
    margin-left: 150px;
    margin-right: 150px;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)),url(../images/skin.jpeg);
    background-size: cover;
    background-color: lightcoral;
    text-transform:cursive;
  font-family: 'Italianno', cursive;
  text-align: center;
  font-size:65px;
  text-shadow:3px 3px 3px black;
  color: white;
  box-shadow: 10px 10px 10px black;
  }
  .footertext{
  
    display: inline-block;
    text-transform:cursive;
  font-family: 'Italianno', cursive;
  padding-bottom:40px;
  padding-left:40px;
  padding-right:40px;
  padding-top:50px;
  text-align:center;
  font-size:65px;
  margin:22px;
  }
  